{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- Import fancybox -->
  <link rel="stylesheet" href="{% static 'jquery.fancybox.css' %}"> </link>
  <!-- Import local styles -->
  <link rel="stylesheet" href="{% static 'built-app.css' %}"></link>


  <title>Built By Tracey</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div>
        <img class="hdr responsive-img" src="{% static './images/TraceyMade.png' %}">
      </div>
    </div>
    <div class="badges row center">
      <div class="badge col l4 m6 s12">
        <img src="{% static './images/GalvanizeBadge.png' %}" alt="">
        <p>These are projects I developed during my web development immersive at Galvanize in Boulder.</p>
      </div>
      <div class="badge col l4 m6 s12">
        <img src="{% static './images/BFSbadge.png' %}" alt="">
        <p>These are projects I developed as owner/artist at Broken Fence Studios.</p>
      </div>
      <div class="badge col l4 m6 s12">
        <img src="{% static './images/VolunteerBadge.png' %}" alt="">
        <p>These are volunteer projects I developed for various charitable causes or small business that needed help.</p>
      </div>

    </div>
    <div class="row project-row center">
      {% for project in projects %}

      <div id="project" class="col card ">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="z-depth-2"
              src="/static/{{project.splashImg}}"/>
          </div>
          <div class="card-content">
            <span class="card-title test grey-text text-darken-4">{{project.title}}</span>
          </div>
          <div class="brief-desc">
            <p>Materialize, HTML, CSS</p>
          </div>
          <div class="web-bar"><p class="bottom activator"><a href="{{project.link}}">Visit Project</a><i class="material-icons right">more_vert</i></p></div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{project.title}}<i class="material-icons right">close</i></span>
            <p>{{project.skills}}</p>
          </div>
        </div>



      {% endfor %}
    </div>
  </div>

  <div style="display: none;" id="detail-panel">
  </div>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="{% static 'jquery.fancybox.js' %}"></script>
  <script type="text/javascript" src="{% static 'built-app.js' %}"></script>

</body>
</html>
